<div class="cover-main">
  <div class="cover-top">
        <div class="cover-top-right">
          <h1>Hello, <br> I am Ana Bergese.</h1>
          <p>< Fullstack Web Developer || Frontend enthusiastic ></p>
        </div>
        <div class="cover-top-left">
          <%= image_tag "coverface.png" %>
        </div>
  </div>
</div>

<div data-controller="scrollanimation">
  <div class="colored-divs" id="div1" data-color="#ffffff">
  <%= render '/shared/summary' %>
  </div>

  <div class="colored-divs" id="div1" data-color="#2D46B9">
  <%= render '/shared/projects' %>
  </div>

  <div class="colored-divs" id="div1" data-color="#ffffff">
  <%= render '/shared/jobs' %>
  </div>

  <div class="colored-divs" id="div2" data-color="#ffcdd2">
  <%= render '/shared/education' %>
  </div>

  <div class="colored-divs" id="div3" data-color="#c3f0c8">
   <%= render '/shared/skills' %>
  </div>
</div>
<%= render '/shared/contact' %>
