<div class="cover-main">
  <div class="cover-top">
        <div class="cover-top-right">
          <h1>Hello, <br> I am Ana Bergese.</h1>
          <p>< Fullstack Web Developer || Frontend enthusiastic ></p>
        </div>
        <div class="cover-top-left">
          <%= image_tag "coverface.png" %>
        </div>
  </div>
</div>

<%= render '/shared/summary' %>

<div class="colored-divs" id="div1" data-color="#007aff">
  <%= render '/shared/projects' %>
</div>

<%= render '/shared/jobs' %>

<div class="colored-divs" id="div2" data-color="#ffcdd2">
  <%= render '/shared/education' %>
</div>

<div class="colored-divs" id="div3" data-color="#c3f0c8">
  <%= render '/shared/skills' %>
</div>

<%= render '/shared/contact' %>
