<div class="cover-main">
  <div class="cover-top">
        <div class="cover-top-right">
          <h1>Hello, <br> I am Ana Bergese.</h1>
          <p>< Fullstack Web Developer || Frontend enthusiastic ></p>
        </div>
        <div class="cover-top-left">
          <%= image_tag "coverface.png" %>
        </div>
  </div>
</div>
<%= render '/shared/summary' %>
<%= render '/shared/projects' %>
<%= render '/shared/jobs' %>
<%= render '/shared/education' %>
<%= render '/shared/skills' %>
<%= render '/shared/contact' %>
