<%= render '/shared/navbar' %>
<div class="cover-main">
  <div class="cover-top">
    <div class="cover-top-right">
      <p>354 jobs in 25 locations</p>
      <h1>Join the band</h1>
      <button class="button-cover">Explore all jobs</button>
    </div>
    <div class="cover-top-left">
      Chat iterante
    </div>
  </div>
  <div class="search-bar">Search bar</div>
</div>

<%= render '/shared/summary' %>
<%= render '/shared/projects' %>
<%= render '/shared/jobs' %>
<%= render '/shared/education' %>
