<div class="jobs" id="jobs">
  <h2>Jobs experiences</h2>
  <!-- Slider main container -->
  <div class="swiper" data-controller="carouseljobs">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="card-jobs">
          <div>
            <p class="rounded-p">Barcelona 2020</p>
            <h4><%= link_to "Technical Support Analyst", npaw_path %></h4>
          </div>
          <p>Nice People At Work (NPAW)</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-jobs">
          <div>
            <p class="rounded-p">Lisboa 2019</p>
            <h4><%= link_to "Advertiser Support at Facebook", advertiser_support_path %></h4>
          </div>
          <p>Teleperformance Portugal</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-jobs">
          <div>
            <p class="rounded-p">Barcelona 2018-2019</p>
            <h4><%= link_to "Content Moderator at TikTok", content_moderator_path %></h4>
          </div>
          <p>Arvato</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-jobs">
          <div>
            <p class="rounded-p">Barcelona 2021-Now</p>
            <h4><%= link_to "Technical Support Engineer", technical_engineer_path %></h4>
          </div>
          <p>Landbot</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-jobs">
          <div>
            <p class="rounded-p">Argentina 2012-2018</p>
            <h4><%= link_to "Digital Marketing and Sales", marketing_path %></h4>
          </div>
          <p>E-commerce CbaFederal</p>
        </div>
      </div>
    </div>
    <!-- Navigation buttons -->
      <button data-carouseljobs-target="prev" class="swiper-button-prev-jobs"></button>
      <button data-carouseljobs-target="next" class="swiper-button-next-jobs"></button>
  </div>
</div>
