<!DOCTYPE html>
<html>
  <head>
    <title>Ana Bergese</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap" rel="stylesheet">

    <!-- Icon of tab -->
    <link rel="icon" type="image/png" href="/assets/coverfaceblack.png">

  </head>

  <body>
    <%= render '/shared/navbar' %>

    <%= yield %>

  </body>
</html>
